@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3ABEFF;
  --foreground: #ffffff;
  --font-sans: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.text-navy {
  color: #001F3F;
}

/* Hide horizontal scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/WebKit */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}